@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {

    .header-footer {
        @apply font-bold bg-blue-500 text-white py-10 px-6
    }

    .navigation-buttons {
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold text-xl py-2 px-4 rounded w-48
    } 
}
